@CHARSET "UTF-8";

table, th, td{
	border-collapse: collapse;
	border: solid 1px black;
	text-align: center;
}

th{
	background-color: #ffff42;
}

p.msg{
	color: #ff0000;
}

td#id{
	width:100;
}

td#name{
	width:300;
}

td#pass{
	width:200;
}
